@page "/node"
@using AP.FamilyTree.Web.Data
@using AP.FamilyTree.Web.Globals
@inherits NodeTableViewModel

@if (!IsFailed)
{
    @if (!mIsItemLoaded)
    {
        <span class="spinner-border spinner-border-sm centerSpinner" role="status" aria-hidden="true"></span>
        <div class="overlay"></div>
    }

    <i class="btn" @onclick="@Create">Создать</i>
    <table class="table table-sm col-12">
        <thead>
            <tr>
                <th>#</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Отчество</th>
                <th>Годы жизни</th>
                <th>Отец</th>
                <th>Мать</th>
                <th></th>
            </tr>
        </thead>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.NodeId</td>
                    <td>@item.Human.Name</td>
                    <td>@item.Human.Surname</td>
                    <td>@item.Human.MiddleName</td>
                    <td>@GlobalFunction.ConvertToLiveYear(item.Human.BirthDate, item.Human.DeathDate)</td>
                    <td>@item.Mother?.Name</td>
                    <td>@item.Father?.Name</td>
                    <td>
                        @if (item.IsRefreshed)
                        {
                            <i class="btn glyphicon glyphicon-refresh" @onclick="(() => ReloadItem(item))" title="Обновление"></i>
                        }
                        else
                        {
                            <i class="btn glyphicon glyphicon-edit" @onclick="(() => EditNodeOpenDialog(item))" title="Редактирование"></i>
                            <i class="btn glyphicon glyphicon-remove" @onclick="(() => RemoveOpenDialog(item))" title="Удаление"></i>
                        }
                    </td>
                </tr>
            }
        }
    </table>

    @if (mEditViewModel.DialogIsOpen)
    {
        <EditNodeDialog ViewModel="@mEditViewModel" ReloadItem="@ReloadItem" SaveItem="@Save" />
    }
    
    <ConfirmationDialog IsOpenConfirmation="@mIsOpenConfirmationDialog" Answer="@CloseRemoveDialog" />

    <InformarionDialog ViewModel="@mInformationDialog" Close="@CloseInformationDialog" />
}
else
{
    <ErrorComponent Model="@ErrorModel" />
}