@using Microsoft.AspNetCore.Http.Extensions
@inject NavigationManager UriHelper

<div class="top-row px-4" style="background-color: lightgreen;">

    <div class="row mr-auto">
        <a class="nav-link" href="" @onclick:preventDefault @onclick="@(() => UriHelper.NavigateTo(UriHelper.BaseUri, true))">
            <i class="glyphicon glyphicon-tree-deciduous" style="font-size: 150%;"></i>
        </a>
        <AuthorizeView Policy="User">
            <Authorized>
                <a class="nav-link" href="Counter" @onclick:preventDefault @onclick="@(() => UriHelper.NavigateTo(UriHelper.BaseUri + "trees", true))">
                    Деревья
                </a>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Policy="Administrator">
            <Authorized>
                <a class="nav-link" href="review" @onclick:preventDefault @onclick="@(() => UriHelper.NavigateTo(UriHelper.BaseUri + "review", true))">
                    Отзывы
                </a>
                <a class="nav-link" href="system/errors" @onclick:preventDefault @onclick="@(() => UriHelper.NavigateTo(UriHelper.BaseUri + "system/errors", true))">
                    Система
                </a>
            </Authorized>
        </AuthorizeView>
    </div>
    <div class="row align-items-center">
        <AuthorizeView>
            <Authorized>
                <a class="pr-5" href="personalOffice">@context.User.Identity.Name!</a>
                <form method="post" action="Identity/Account/LogOut">
                    <button type="submit" class="nav-link btn btn-link">Выйти</button>
                </form>
            </Authorized>
            <NotAuthorized>
                <a style="padding-right: 8px;" href="register">Регистрация</a>
                <a href="login">Войти</a>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>