@using AP.FamilyTree.Web.PageModels.Trees
@using MatBlazor
@using AP.FamilyTree.Web.Globals

<div>
    <MatDialog @bind-IsOpen="@ViewModel.DialogIsOpen" CanBeClosed="false">
        <EditForm Model="ViewModel.Model" OnValidSubmit="@(() => { SaveItem.InvokeAsync(ViewModel.Model); })">
            <MatDialogTitle class="diHeader">
                <h3>@(ViewModel.Model.Id > 0 ? "Изменение дерева " + ViewModel.Model.Name : "Создание дерева")</h3>
                <div class="btn-group">
                    @if (ViewModel.IsConcurrencyError)
                    {
                        <span class="btn btn-nav btn-primary mr-1" @onclick="@(()=> ReloadItem.InvokeAsync(ViewModel.Model))">Обновить</span>
                    }
                    else
                    {
                        <input type="submit" value="Speichern" class="btn btn-nav btn-primary mr-1" style="float: right; background: darkgreen;" />
                    }
                    <span class="btn btn-nav" @onclick="@(e => {ViewModel.DialogIsOpen = false;})">X</span>
                </div>
                <hr />
            </MatDialogTitle>
            <MatDialogContent>
                <div style="width: 500px; display: block; height: 300px;">
                    <DataAnnotationsValidator />
                    
                    <EditUpdateErrorText IsShow="@ViewModel.IsConcurrencyError" Text="@Global.ExceptionText[ExeptionTypeEnum.Concurrency]" />
                    <EditUpdateErrorText IsShow="@(!string.IsNullOrEmpty(ViewModel.ErrorString))" Text="@ViewModel.ErrorString" />

                    <div class="form-group row mb-1">
                        <label for="Name" class="col-2 pl-0">Название: </label>
                        <InputText @bind-Value="@ViewModel.Model.Name" Class="form-control form-control-sm col-10" id="Name"></InputText>
                        <ValidationMessage For="@(() => ViewModel.Model.Name)" />
                    </div>
                    <div class="form-group row mb-1">
                        <label for="Year" class="col-2 pl-0">Года: </label>
                        <InputDate @bind-Value="@ViewModel.Model.StartDate" Class="form-control form-control-sm col-4" id="Year1"></InputDate> 
                        -
                        <InputDate @bind-Value="@ViewModel.Model.EndDate" Class="form-control form-control-sm col-4" id="Year2"></InputDate>
                        <ValidationMessage For="@(() => ViewModel.Model.Name)" />
                    </div>
                    <div class="form-group row mb-1">
                        <label for="Surname" class="col-2 pl-0">Заметка: </label>
                        <InputTextArea rows="8" @bind-Value="@ViewModel.Model.Surnames" Class="form-control form-control-sm col-10" id="Surname"></InputTextArea>
                        <ValidationMessage For="@(() => ViewModel.Model.Surnames)" />
                    </div>
                </div>
            </MatDialogContent>
        </EditForm>
    </MatDialog>
</div>

@code {

    [Parameter]
    public EditTreeDialogViewModel ViewModel { get; set; }

    [Parameter]
    public EventCallback<TreeCardItemViewModel> SaveItem { get; set; }

    [Parameter]
    public EventCallback<TreeCardItemViewModel> ReloadItem { get; set; }

}