@using AP.FamilyTree.Web.PageModels.Trees
@inject NavigationManager UriHelper

@if (Model != null)
{
    <div style="border: 4px double black; text-align: center;">
        <h6>@Model.Name</h6>
        <h6>@Model.DateString</h6>
        <div class="row" style="text-align: center;">
            <i class="btn glyphicon glyphicon-eye-open" @onclick="@Open"></i>
            @if (Model.Edit)
            {
                <i class="btn glyphicon glyphicon-edit" @onclick="@(()=> Change.InvokeAsync(Model))"></i>
            }
            @if (Model.Admin)
            {
                <i class="btn glyphicon glyphicon-remove" @onclick="@(() => Remove.InvokeAsync(Model))"></i>
            }
        </div>
    </div>
}

@code {
    [Parameter] public TreeCardItemViewModel Model { get; set; }
    [Parameter] public EventCallback<TreeCardItemViewModel> Change { get; set; }
    [Parameter] public EventCallback<TreeCardItemViewModel> Remove { get; set; }

    //protected override async Task OnParametersSetAsync()
    //{

    //}

    private async Task Open()
    {
        UriHelper.NavigateTo(UriHelper.BaseUri + $"tree/{Model.Id}");
    }
}