@page "/trees"
@inherits TreesViewModel

<h5>Деревья</h5>

@if (!IsFailed)
{
    @if (!mIsItemLoaded)
    {
        <span class="spinner-border spinner-border-sm centerSpinner" role="status" aria-hidden="true"></span>
        <div class="overlay"></div>
    }

    <div class="row">
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <div class="col-2">
                    <TreeCard Model="@item" Change="@Edit" Remove="@Remove" />
                </div>
            }
        }
        <div style="border: 4px double black; text-align: center;">
            <h6>Новое дерево</h6>
            <i class="btn btn-nav" @onclick="@CreateTree">Создать дерево</i>
        </div>
    </div>

    @if (mEditViewModel?.DialogIsOpen == true)
    {
        <EditTreeDialog ViewModel="@mEditViewModel" SaveItem="@Save" ReloadItem="@Reload" />
    }

    <InformarionDialog ViewModel="@mInformationDialog" Close="@CloseInformationDialog" />
}
else
{
    <ErrorComponent Model="@ErrorModel" />
}