@page "/trees"
@inherits TreesViewModel

<h5>Деревья</h5>

<div class="row">
    @foreach (var item in ModelList)
    {
        <div class="col-3">
            <TreeCard Model="@item" Change="@Edit" Remove="@Remove" />
        </div>
    }
    <div style="border: 4px double black; text-align: center;">
        <h6>Новое дерево</h6>
        <i class="btn btn-nav" @onclick="@CreateTree">Создать дерево</i>
    </div>
</div>

@if (EditDialog?.IsOpenDialog == true)
{
    <EditTreeDialog ViewModel="@EditDialog" SaveItem="@Save" ReloadItem="@Reload" />
}