@page "/personalOffice"
@inherits PersonalOfficeViewModel

@if (!IsFailed)
{
    @if (!mIsItemLoaded)
    {
        <span class="spinner-border spinner-border-sm centerSpinner" role="status" aria-hidden="true"></span>
        <div class="overlay"></div>
    }
    @if (Model != null)
    {
        <div class="pb-3">
            <EditForm Model="@Model" OnValidSubmit="@(() => { SaveItem(); })">
                <DataAnnotationsValidator />
                <div style="display: block;">
                    <div class="form-group row mb-1">
                        <label for="Email" class="col-2 pl-0">Email: </label>
                        <InputText @bind-Value="@Model.Email" Class="form-control form-control-sm col-10" id="Email" style="width: 300px;"></InputText>
                        <ValidationMessage For="@(() => Model.Email)" />
                    </div>
                    <div class="form-group row mb-1">
                        <label for="password" class="col-2 pl-0">Действующий пароль: </label>
                        <InputText type="password" placeholder="Password" @bind-Value="@Model.OldPassword" Class="form-control form-control-sm col-10" id="password" style="width: 200px;"></InputText>
                        <ValidationMessage For="@(() => Model.OldPassword)" />
                    </div>
                    <div class="form-group row mb-1">
                        <label for="Password" class="col-2 pl-0">Новый пароль: </label>
                        <InputText type="password" placeholder="Password" @bind-Value="@Model.Password" Class="form-control form-control-sm col-10" id="Password" style="width: 200px;" utocomplete="off"></InputText>
                        <ValidationMessage For="@(() => Model.Password)" />
                    </div>
                    <div class="form-group row mb-1">
                        <label for="password" class="col-2 pl-0">Повторите новый пароль: </label>
                        <InputText type="password" placeholder="Password" @bind-Value="@Model.ConfirmPassword" Class="form-control form-control-sm col-10" id="password" style="width: 200px;"></InputText>
                        <ValidationMessage For="@(() => Model.ConfirmPassword)" />
                    </div>
                    @if (ErrorMessage?.Count > 0)
                    {
                        @foreach (var mes in ErrorMessage)
                        {
                            <div style="color: red;" class="row">@mes</div>
                        }
                    }
                </div>
                <button type="submit" class="btn-nav">Сохранить</button>
            </EditForm>
        </div>

        @if (mFinishDialogIsOpen)
        {
            <MatDialog @bind-IsOpen="@mFinishDialogIsOpen" CanBeClosed="false">
                <MatDialogTitle Class="diHeader">
                    <h3>Изменение Email и пароля</h3>
                    <hr />
                </MatDialogTitle>
                <MatDialogContent>
                    <div class="d-flex flex-column justify-content-between h-100">
                        <div style="max-width:400px;">
                            Для принятия изменений повторите вход в систему
                        </div>
                        <form method="post" action="Identity/Account/LogOut">
                            <button type="submit" class="btn btn-nav">Выйти</button>
                        </form>
                    </div>
                </MatDialogContent>
            </MatDialog>
        }
    }
    
    <hr />

    if (IsSysAdminRole)
    {
        <div class="pb-3">
            <RoleTable />
        </div>
    }

    <InformarionDialog ViewModel="@mInformationDialog" Close="@CloseInformationDialog" />
}
else
{
    <ErrorComponent Model="@ErrorModel" />
}
